@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --tw-primary-focused: #15e49e;
    --tw-secondary-100: #F3F4F6;
    --tw-secondary-200: #1a1a1a;
  }

body{
    background-color: black;
}

*{
    color: white;
    font-weight: 400;
}

section{
    position: relative;
    padding-top: 240px;
}

.is-current {
    color: var(--tw-primary-focused);
}