@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
    16% {
      transform: skew(-14deg);
    }
    33% {
      transform: skew(12deg);
    }
    49% {
      transform: skew(-8deg);
    }
    66% {
      transform: skew(6deg);
    }
    83% {
      transform: skew(-4deg);
    }
  }

  .shakeAnim .{
    animation: shake 600ms ease-in-out;
  }
  
:root {
    --tw-primary-focused: #15e49e;
    --tw-secondary-100: #F3F4F6;
    --tw-secondary-200: #1a1a1a;
  }

body{
    background-color: black;
}

*{
    -webkit-font-smoothing: antialiased;
    color: white;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
}

.is-current {
  color: var(--tw-primary-focused);
}

.slick-dots li{
  margin: 0 1px !important;
}

.slick-dots li button:before{
  content: '';
  background-color: #15e49e;
  color: transparent !important;
  transition: all 0.3s ease-in-out 0s;
  width: 12px !important;
  height: 8px !important;
  @apply rounded-full;
}